html, body, .p > img { width: 100%; height: 100%; }
body {
	margin: 0;
	overflow: hidden;
	background: black;
	color: white;
}
#fakescroll, #canvas {
	width: 100%;
	height: 100%;
}
#canvas {
	transform-origin: 0 0;
}
#fakescroll {
	position: fixed;
	overflow: auto;
}
.p, #scrollarea, #canvas, .vp {
	position: absolute;
}

/* Middle message */
#msg {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
	position: relative;
}
#msg > div {
	background: #000;
	padding: .5em;
	border: 2px solid #aaa;
	border-radius: 1em;
	font: normal large sans-serif;
}
#msg > div p:first-child {
	margin-top: 0;
}
#msg > div input {
	font-size: large;
	color: #fff;
	background: #000;
	border-radius: .5em;
	padding: .25em;
}

/* Shade */
#shade { position: absolute; border-collapse: collapse; pointer-events: none; transition: opacity 500ms; opacity: 0; width: calc(100% + 20px); height: calc(100% + 20px); top: -10px; left: -10px; }
td { background: #000; padding: 0; }
#shadehole { background: none; height: 0; width: 0; transition: width 500ms, height 500ms; box-shadow: inset 0 0 10px 10px black; }

/* Canvas page */
.p { transition: opacity 500ms; }

/* Viewpoints */
.vp { box-shadow: red 0 0 100px inset; font-size: 5em; color: red; overflow: hidden; font-family: monospace; text-shadow: 0 0 10px white; user-select: none; }

/* GUI */
#left, #right {
	position: fixed;
	width: 25%;
	height: 100%;
	cursor: pointer;
	-webkit-tap-highlight-color: #0002;
	display: flex;
	justify-content: center;
	align-items: center;
}
#right {
	right: 0;
}
#leftbutton, #rightbutton {
	width: 32px;
	height: 32px;
	padding: 10px;
	border-radius: 16px;
	background: #0008 url(left.png) center no-repeat;
	transition: opacity 500ms;
	opacity: 0;
}
#rightbutton {
	transform: scaleX(-1);
}
